
  
  .popup-container{
    position: absolute;
    height: auto;
    width:auto ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.wrapper{
    background-color: white;
    width: 200px;
    height: 300px;
    /* position: relative; */
    display: block;
    justify-content: center;
   
}

.cancel-symbol{
    margin-left: 60px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out; 
}
.header{
    margin-bottom: 20px;
    display: inline-flex;
    border-bottom:1px solid grey ;
}
.input{
    display: grid;
}
.button{
    background-color: blue;
}

 
